#malaysia-map {
  background: aliceblue;
  display: block;
  top: auto;
  left: auto;
  min-width: 384px;
  float: left;
  width: 50%;
  height: auto;
}

#graph {
  display: block;
  top: auto;
  left: auto;
  min-width: 384px;
  float: left;
  width: 50%;
  height: auto;
}

#linearlogbutton {
	min-width: 384px;
	width: 50%;
	border: 0;
	margin: 0;
	padding: 0;
}