@import url("map.css");

.group-wrapper {
  display: block;
  float: left;
  width: 430px;
  height: 323px;
}

#linearlogbutton, #linearlogbuttonchange {
  display: block;
  left: auto;
  border: 0;
  margin: 0;
  padding: 0;
  width: 430px;
  height: 20px;
  float: left;
  clear: left;
}

#nationwide-daily, #nationwide-daily-change {
  display: block;
  float: left;
  width: 430px;
  height: 303px;
}

#bystate-daily {
  display: block;
  float: left;
  width: 430px;
  height: 323px;
}

#nationwide-dynamics {
  float: left;
  width: 430px;
  height: 323px;
}

#bystate-dynamics {
  float: left;
  width: 860px;
  height: 646px;
}

#nationwide-latest {
  display: block;
  float: left;
  width: 430px;
  height: 323px;
}

#malaysia-map {
  display: block;
  background: aliceblue;
  float: left;
  width: 430px;
  height: 323px;
}

#reference {
  float: left;
}

#bystate-dynamics div svg g g g g path { 
	stroke-width:4px; 
}
