#malaysia-map {
  background: aliceblue;
  display: block;
  top: auto;
  left: auto;
  min-width: 384px;
  float: left;
  width: 50%;
  height: auto;
}

#graph {
  display: block;
  top: auto;
  left: auto;
  min-width: 384px;
  float: left;
  width: 50%;
  height: auto;
}
