# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: compute Rt in Malaysia

on:
  schedule:
#    - cron: 20 0/2 * * * # 20 mins, every 2 hours
  workflow_dispatch:
    branches: [ master ]
#  push:
#    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        cd ./Rt/
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Prepare case files for Rt for both naitonwide and by-state
      run: |
        cd ./Rt/
        python prepareCumulCases_Rt.py
    - name: Compute and save Rt both naitonwide and by-state
      run: |
        cd ./Rt/
        python RtMalaysia.py
    - name: Export the above results to GitHub repository
      env:
        GIT_OWNER_EMAIL: ${{ secrets.GIT_OWNER_EMAIL }}
        PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      run: |
        git config user.email "$GIT_OWNER_EMAIL"
        git config user.name "drxyzw"
        if [[ `git status --porcelain` ]]; then
          git add .
          git commit -a -m "Automatically updating daily CSV data for Rt"
          git remote rm origin
          git remote add origin https://drxyzw:$PUSH_TOKEN@github.com/drxyzw/WuhanCoronavirus-Malaysia.git
          git push origin HEAD:master
        else
          echo 'there is no change'
        fi

